html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAF4F2;
}

header {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

header .logo {
  background-color: #E76F51;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
}

header a {
  color: white;
  font: 18px roboto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header a:hover {
  color: #ffa18a;
}

header .header-btns {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .header-btns button {
  width: 130px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 25px;
  border: none;
  font: bold 18px roboto;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

header .header-btns button:hover {
  font-weight: normal;
}

header .header-btns button:nth-child(2) {
  border: 1px solid white;
}

header .header-btns button:nth-child(2):hover {
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
}

header .burger-bar {
  color: #E76F51;
  font-size: 21px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  cursor: pointer;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .burger-bar:hover {
  font-size: 18px;
}

.side-bar {
  border-radius: 88% 32% 10% 0% / 0% 92% 100% 100%;
  left: 0;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(78, 253, 224, 0.801)), to(#ff7853d0));
  background: linear-gradient(to right, rgba(78, 253, 224, 0.801), #ff7853d0);
  height: 100vh;
  position: fixed;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  display: none;
}

.side-bar ul {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-bar ul li {
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top-right-radius: 20px;
}

.side-bar ul li:hover {
  color: #ff5e00;
}

.side-bar ul li a {
  color: white;
  font: 18px roboto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.side-bar ul li a:hover {
  color: rgba(255, 68, 0, 0.623);
}

.side-bar .header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar .header-btns button {
  margin-top: 10px;
  width: 130px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 25px;
  border: none;
  font: bold 18px roboto;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

.side-bar .header-btns button:hover {
  font-weight: normal;
}

.side-bar .header-btns button:nth-child(2) {
  border: 1px solid white;
}

.side-bar .header-btns button:nth-child(2):hover {
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
}

.fav-added {
  width: 90%;
  max-width: 800px;
  height: 80%;
  border-radius: 30px;
  background-color: rgba(108, 243, 232, 0.938);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 8;
  position: fixed;
  margin: 100px auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.fav-added h1 {
  font: bolder 30px roboto;
  color: white;
  text-align: center;
  text-shadow: 0px 11px 10px rgba(81, 67, 21, 0.8);
}

.fav-added i {
  margin-top: 80px;
  font-size: 50px;
  background-color: #ffa18a;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.adding-basket {
  width: 80px;
  height: 80px;
  font-size: 32px;
  background-color: rgba(255, 68, 0, 0.623);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  position: fixed;
  z-index: 8;
  top: 80%;
  left: 90%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.adding-basket:hover {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  background-color: rgba(255, 38, 0, 0.918);
}

.head-backgroundImg {
  background-image: url("../images/BG-img.png");
  width: 100%;
  height: 1080px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.section1 {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 1080px;
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.section1 .sec1-title {
  width: 90%;
  max-width: 580px;
  margin-top: 400px;
}

.section1 h1 {
  cursor: context-menu;
  font: 52px/89px archivo;
  color: white;
  text-align: center;
}

.section1 p {
  cursor: context-menu;
  margin-top: 50px;
  font: 18px/28px roboto;
  color: white;
  text-align: center;
}

.section1 button {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.section1 button {
  cursor: pointer;
  width: 205px;
  height: 50px;
  border-radius: 25px;
  background-color: #E76F51;
  border: none;
  outline: none;
  color: white;
  font: 18px roboto;
  margin-top: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section1 button:hover {
  background-color: #ffa18a;
}

.change-zoom {
  height: 60px;
}

.headerColor {
  background-color: #E76F51;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

.sec1-boxes {
  top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec1-boxes .sec1-box {
  max-width: 357px;
  width: 20%;
  height: 312px;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 300px;
}

.sec1-boxes .sec1-box p {
  color: black;
  font: lighter 16px roboto;
}

.sec1-boxes .sec1-box h3 {
  font: bold 18px archivo;
  margin-top: 10px;
  cursor: context-menu;
  text-align: center;
}

.section2 {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section2 .sec2-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 460px;
}

.section2 .sec2-title h1 {
  font: bolder 40px roboto;
  cursor: context-menu;
  margin-top: 20px;
  text-align: center;
}

.sec2-boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec2-boxes .sec2-box {
  margin-top: 30px;
  width: 357px;
  height: 465px;
  background-color: #f0f0f0;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec2-boxes .sec2-box img {
  margin-top: 20px;
  width: 80%;
  height: 220px;
  border-radius: 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.sec2-boxes .sec2-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.sec2-boxes .sec2-box .price {
  width: 150px;
  position: absolute;
  z-index: 4;
  background-color: white;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.sec2-boxes .sec2-box .price p {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  font: bolder 16px roboto;
  color: #E76F51;
}

.sec2-boxes .sec2-box h3 {
  font: bold 18px archivo;
  cursor: context-menu;
  margin-top: 50px;
  text-align: center;
}

.sec2-boxes .sec2-box p {
  font: 16px roboto;
  cursor: context-menu;
  width: 90%;
  margin-top: 10px;
}

.sec2-boxes .sec2-box button {
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 185px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  font: bold 18px roboto;
  color: #b6b6b6;
}

.sec2-boxes .sec2-box .heart-shape {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 220px;
  margin-bottom: 330px;
  background-color: white;
  color: #E76F51;
  font-size: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sec2-boxes .sec2-box .heart-shape:hover {
  font-size: 26px;
}

.r-more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.r-more .sec2-box {
  margin-top: 30px;
  width: 357px;
  height: 465px;
  background-color: #f0f0f0;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.r-more .sec2-box img {
  margin-top: 20px;
  width: 80%;
  height: 220px;
  border-radius: 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.r-more .sec2-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.r-more .sec2-box .price {
  width: 150px;
  position: absolute;
  z-index: 4;
  background-color: white;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
}

.r-more .sec2-box .price p {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  font: bolder 16px roboto;
  color: #E76F51;
}

.r-more .sec2-box h3 {
  font: bold 18px archivo;
  cursor: context-menu;
  text-align: center;
  margin-top: 50px;
}

.r-more .sec2-box p {
  font: 16px roboto;
  cursor: context-menu;
  width: 90%;
  margin-top: 10px;
}

.r-more .sec2-box button {
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 185px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  font: bold 18px roboto;
  color: #b6b6b6;
}

.r-more .sec2-box .heart-shape {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 220px;
  margin-bottom: 330px;
  background-color: white;
  color: #E76F51;
  font-size: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.r-more .sec2-box .heart-shape:hover {
  font-size: 26px;
}

.section3 {
  margin-top: 3200px;
  position: absolute;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .sec3-container {
  height: 391px;
  background-color: #ffd3c7;
  border-radius: 20px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.section3 .sec3-container .sec3-form {
  width: 60%;
  border-radius: 20px;
  border-top-right-radius: 284px;
  border-bottom-right-radius: 88px;
  background-color: white;
  height: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8e6f), to(#dafff9));
  background: linear-gradient(to bottom right, #ff8e6f, #dafff9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .sec3-container .sec3-form h2 {
  font: bold 40px archivo;
  cursor: context-menu;
}

.section3 .sec3-container .sec3-form p {
  cursor: context-menu;
  font: 16px roboto;
  width: 80%;
  margin-top: 30px;
}

.section3 .sec3-container .sec3-form .send {
  margin-top: 30px;
  width: 80%;
  background-color: white;
  height: 80px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section3 .sec3-container .sec3-form .send input {
  height: 100%;
  font: 21px roboto;
  border: none;
  width: 80%;
  outline-color: #c7c7c7;
  margin-left: 50px;
}

.section3 .sec3-container .sec3-form .send button {
  height: 100%;
  font-size: 30px;
  color: #E76F51;
  border: none;
  background-color: white;
  margin-right: 50px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section3 .sec3-container .sec3-form .send button:hover {
  font-size: 25px;
}

footer {
  margin-top: 3800px;
  position: absolute;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background-color: #F8E1DB;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

footer .footer-container {
  margin-top: 60px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-container .footer-text {
  width: 50%;
}

footer .footer-container h3 {
  font: bold 18px archivo;
  margin: 20px 0;
  cursor: context-menu;
}

footer .footer-container p {
  font: lighter 16px roboto;
  color: #252525;
  cursor: context-menu;
}

footer .footer-container li a {
  font: lighter 16px roboto;
  color: #252525;
}

footer .footer-container li:hover {
  text-decoration: underline;
}

footer .copyRight {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font: 15px roboto;
  color: gray;
  margin-top: 50px;
  margin-bottom: 30px;
  cursor: context-menu;
}

footer .d-app {
  margin-left: 10%;
  -webkit-transform: translate(-10%, 0);
          transform: translate(-10%, 0);
  width: 305px;
}

footer .d-app p {
  font: bold 18px archivo;
  cursor: context-menu;
}

footer .d-app .d-imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

footer .d-app .d-imgs img {
  width: 47%;
  cursor: pointer;
}

footer .up {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  z-index: 7;
  left: 90%;
  top: 0;
  margin-top: -30px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .up a {
  font-size: 30px;
  font-weight: bold;
  color: #E76F51;
}

footer .up:hover {
  font-size: 26px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

body,
section {
  max-width: 1920px;
}

section,
footer {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/*# sourceMappingURL=style.css.map */