$background-img: url('../images/BG-img.png');
$none-color:rgba(255, 255, 255, 0);
$orange-color1: #E76F51;
$orange-color2:#ffa18a;
$fill:#FAF4F2;
$footer-fill:#F8E1DB;
html{
    scroll-behavior: smooth;
}
body{
    background-color: $fill;
}
@mixin flexCenter($direction){
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: $direction;
}
@mixin middle($x, $y){
    transform:translate($x, $y);
}
header{
    transition: 0.5s;
    height:150px;
    align-items: center;
    position:fixed;
    z-index:10;
    display: flex;
    justify-content: space-around;
    width:100%;
    .logo{
        background-color:$orange-color1;
        width:50px;
        height:50px;
        border-radius:25px;
        @include flexCenter(row);
    }
    ul{
        display: flex;
        justify-content: space-between;
        width:700px;
    }
    a{
        color:white;
        font:18px roboto;
        transition:0.3s;
        &:hover{
            color:$orange-color2;
        }
    }
    .header-btns{
        width:300px;
        display:flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        button{
            width:130px;
            height:50px;
            background-color:$none-color;
            border-radius:25px;
            border:none;
            font:bold 18px roboto;
            color:white;
            cursor:pointer;
            transition:0.4s;
            outline:none;
            &:hover{
                font-weight:normal;
            }
        }
        button:nth-child(2){
            border:1px solid white;
            &:hover{
                box-shadow:inset 0 0 10px #000000;
            }
        }
    }
    .burger-bar{
        color:$orange-color1;
        font-size:21px;
        border-radius:10px;
        height:40px;
        width:40px;
        @include flexCenter(column);
        background-color:white;
        cursor:pointer;
        display:none;
        transition:0.5s;
        &:hover{
            font-size:18px;
        }
    }
}
.side-bar{
    border-radius:88% 32% 10% 0% / 0% 92% 100% 100%;
    left:0;
    top:0;
    flex-direction: column;
    width:400px;
    background:linear-gradient(to right, rgba(78, 253, 224, 0.801), #ff7853d0);
    height:100vh;
    ul{
        margin-top:100px;
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        justify-content:space-between;
        li{
            height:50px;
            transition:0.5s;
            width:100%;
            @include flexCenter(row);
            border-top-right-radius: 20px;
            &:hover{
                color:rgb(255, 94, 0);
            }
            a{
                color:white;
                font:18px roboto;
                transition:0.3s;
                width:100%;
                text-align: center;
                &:hover{
                    color:rgba(255, 68, 0, 0.623);
                }
            }
        }
    }
    .header-btns{
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        button{
            margin-top:10px;
            width:130px;
            height:50px;
            background-color:$none-color;
            border-radius:25px;
            border:none;
            font:bold 18px roboto;
            color:white;
            cursor:pointer;
            transition:0.4s;
            outline:none;
            &:hover{
                font-weight:normal;
            }
        }
        button:nth-child(2){
            border:1px solid white;
            &:hover{
                box-shadow:inset 0 0 10px #000000;
            }
        }
    }
    position:fixed;
    z-index:5;
    transition:0.5s;
    transform:translate(-100%);
    display:none;
}
.fav-added{
    width:90%;
    max-width:800px;
    height:80%;
    border-radius:30px;
    background-color:rgba(108, 243, 232, 0.938);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index:8;
    position:fixed;
    margin: 100px auto;
    left:50%;
    @include middle(-50%, 0);
    display:none;
    @include flexCenter(column);
    h1{
        font:bolder 30px roboto;
        color:white;
        text-align: center;
        text-shadow: 0px 11px 10px rgba(81,67,21,0.8);
    }
    i{
        margin-top:80px;
        font-size:50px;
        background-color:$orange-color2;
        width:100px;
        height:100px;
        border-radius:50px;
        color:white;
        @include flexCenter(row);
    }
    display:none;
}
.adding-basket{
    width:80px;
    height:80px;
    font-size:32px;
    background-color:rgba(255, 68, 0, 0.623);
    border-radius:40px;
    @include flexCenter(row);
    color:white;
    position:fixed;
    z-index:8;
    top:80%;
    left:90%;
    transition:0.3s;
    &:hover{
        transform:rotate(-20deg);
        background-color:rgba(255, 38, 0, 0.918);
    }
    cursor:pointer;
}
.head-backgroundImg{
    background-image:$background-img;
    width:100%;
    height:1080px;
    background-size:cover;
    background-repeat: no-repeat;
    z-index:1;
    position: absolute;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.section1{
    z-index:2;
    position: absolute;
    @include flexCenter(column);
    justify-content: space-around;
    width:100%;
    .sec1-title{
        width:90%;
        max-width:580px;
        margin-top:400px;
    }
    h1{
        cursor:context-menu;
        font:52px/89px archivo;
        color:white;
        text-align: center;
    }
    p{
        cursor:context-menu;
        margin-top:50px;
        font:18px/28px roboto;
        color:white;
        text-align: center;
    }
    height:1080px; 
    backdrop-filter: brightness(60%);
    button{
        margin-left:50%;
        @include middle(-50%, 0);
    }
    button{
        cursor:pointer;
        width:205px;
        height:50px;
        border-radius:25px;
        background-color:$orange-color1;
        border:none;
        outline:none;
        color:white;
        font:18px roboto;
        margin-top:50px;
        transition:0.4s;
        &:hover{
            background-color:$orange-color2;
        }
    }
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.change-zoom{
    height:60px;
}
.headerColor{
    background-color: $orange-color1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
    transition: background-color 0.5s linear;
}
.sec1-boxes{
    top:100px;
    width:100%;
    display:flex;
    justify-content: space-around;
    .sec1-box{
        max-width:357px;
        width:20%;
        height:312px;
        background-color:white;
        border-radius:20px;
        p{
            color:black;
            font:lighter 16px roboto;
        }
        @include flexCenter(column);
        margin-top:300px;
        h3{
            font:bold 18px archivo;
            margin-top:10px;
            cursor:context-menu;
            text-align: center;
        }
    }
}
.section2{
    width:100%;
    position: absolute;
    z-index:2;
    top:1300px;
    @include flexCenter(column);
    justify-content: space-around;
    .sec2-title{
        @include flexCenter(column);
        width:460px;
        h1{
            font:bolder 40px roboto;
            cursor:context-menu;
            margin-top:20px;
            text-align: center;
        }
    }
}
.sec2-boxes{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .sec2-box{
        margin-top:30px;
        width:357px;
        height:465px;
        background-color:#f0f0f0;
        border-radius:30px;
        @include flexCenter(column);
        justify-content: space-around;
        img{
            margin-top:20px;
            width:80%;
            height:220px;
            border-radius:30px;
            transition:0.25s;
            &:hover{
                transform:scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            }
            cursor:pointer;
        }
        .price{
            width:150px;
            position:absolute;
            z-index:4;
            background-color:white;
            height:40px;
            border-radius:10px;
            margin-top:20px;
            p{
                margin-left:50%;
                transform: translate(-50%, 0);
                text-align: center;
                font:bolder 16px roboto;
                color:$orange-color1;
            }
        }
        h3{
            font:bold 18px archivo;
            cursor:context-menu;
            margin-top:50px;
            text-align: center;
        }
        p{
            font:16px roboto;
            cursor:context-menu;
            width:90%;
            margin-top:10px;
        }
        button{
            border:none;
            cursor:pointer;
            outline:none;
            margin-top:10px;
            margin-bottom:20px;
            width:185px;
            height:50px;
            border-radius:25px;
            background-color:white;
            font:bold 18px roboto;
            color:rgb(182, 182, 182);
        }
        .heart-shape{
            z-index:3;
            cursor:pointer;
            position: absolute;
            width:40px;
            height:40px;
            margin-left:220px;
            margin-bottom:330px;
            background-color: white;
            color:$orange-color1;
            font-size:30px;
            border-radius:8px;
            @include flexCenter(column);
            transition:0.3s;
            &:hover{
                font-size:26px;
            }
        }
    }
}
.r-more{
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap ;
    .sec2-box{
        margin-top:30px;
        width:357px;
        height:465px;
        background-color:#f0f0f0;
        border-radius:30px;
        @include flexCenter(column);
        justify-content: space-around;
        img{
            margin-top:20px;
            width:80%;
            height:220px;
            border-radius:30px;
            transition:0.25s;
            &:hover{
                transform:scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            }
            cursor:pointer;
        }
        .price{
            width:150px;
            position:absolute;
            z-index:4;
            background-color:white;
            height:40px;
            border-radius:10px;
            margin-top:20px;
            p{
                margin-left:50%;
                transform: translate(-50%, 0);
                text-align: center;
                font:bolder 16px roboto;
                color:$orange-color1;
            }
        }
        h3{
            font:bold 18px archivo;
            cursor:context-menu;
            text-align: center;
            margin-top:50px;
        }
        p{
            font:16px roboto;
            cursor:context-menu;
            width:90%;
            margin-top:10px;
        }
        button{
            border:none;
            cursor:pointer;
            outline:none;
            margin-top:10px;
            margin-bottom:20px;
            width:185px;
            height:50px;
            border-radius:25px;
            background-color:white;
            font:bold 18px roboto;
            color:rgb(182, 182, 182);
        }
        .heart-shape{
            z-index:3;
            cursor:pointer;
            position: absolute;
            width:40px;
            height:40px;
            margin-left:220px;
            margin-bottom:330px;
            background-color: white;
            color:$orange-color1;
            font-size:30px;
            border-radius:8px;
            @include flexCenter(column);
            transition:0.3s;
            &:hover{
                font-size:26px;
            }
        }
    }
}
.section3{
    margin-top:3200px;
    position:absolute;
    z-index:2;
    width:100%;
    @include flexCenter(column);
    .sec3-container{
        height:391px;
        background-color:#ffd3c7;
        border-radius:20px;
        width:90%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-radius:30px;
        .sec3-form{
            width:60%;
            border-radius: 20px;
            border-top-right-radius:284px;
            border-bottom-right-radius:88px;
            background-color:white;
            height:100%;
            background:linear-gradient(to bottom right, #ff8e6f, rgb(218, 255, 249));
            @include flexCenter(column);
            h2{
                font:bold 40px archivo;
                cursor:context-menu;
            }
            p{
                cursor:context-menu;
                font:16px roboto;
                width: 80%;
                margin-top:30px;
            }
            .send{
                margin-top:30px;
                width:80%;
                background-color:white;
                height:80px;
                border-radius:10px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                input{
                    height:100%;
                    font:21px roboto;
                    border:none;
                    width:80%;
                    outline-color: rgb(199, 199, 199);
                    margin-left:50px;
                }
                button{
                    height:100%;
                    font-size:30px;
                    color:$orange-color1;
                    border:none;
                    background-color:white;
                    margin-right:50px;
                    outline:none;
                    cursor:pointer;
                    transition:0.5s;
                    &:hover{
                        font-size:25px;
                    }
                }
            }
        }
    }
}

//footer
footer{
    margin-top:3800px;
    position:absolute;
    z-index:4;
    @include flexCenter(column);
    align-items: flex-start;
    width:100%;
    background-color: $footer-fill;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    .footer-container{
        margin-top:60px;
        width:90%;
        @include flexCenter(row);
        align-items: flex-start;
        justify-content: space-around;
        margin-left:50%;
        @include middle(-50%, 0);
        flex-wrap:wrap;
        .footer-text{
            width:50%;
        }
        h3{
            font:bold 18px archivo;
            margin:20px 0;
            cursor:context-menu;
        }
        p{
            font:lighter 16px roboto;
            color:rgb(37, 37, 37);
            cursor:context-menu;
        }
        li{
            a{
                font:lighter 16px roboto;
                color:rgb(37, 37, 37);
            }
            &:hover{
                text-decoration:underline;
            }
        }
    }
    .copyRight{
        margin-left:50%;
        @include middle(-50%, 0);
        font:15px roboto;
        color:gray;
        margin-top:50px;
        margin-bottom:30px;
        cursor:context-menu;
    }
    .d-app{
        margin-left:10%;
        @include middle(-10%, 0);
        width:305px;
        p{
            font:bold 18px archivo;
            cursor:context-menu;
        }
        .d-imgs{
            width:100%;
            display:flex;
            justify-content: space-between;
            margin-top:20px;
            img{
                width:47%;
                cursor:pointer;
            }
        }
    }
    .up{
        width:60px;
        height:60px;
        @include flexCenter(row);
        border-radius:20px;
        background-color:white;
        position:absolute;
        z-index:7;
        left:90%;
        top:0;
        margin-top:-30px;
        cursor:pointer;
        transition:0.5s;
        a{
            font-size:30px;
            font-weight: bold;
            color:$orange-color1;
        }
        &:hover{
            font-size:26px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
}

body,
section{
    max-width:1920px;
}
section,
footer{
    left:50%;
    @include middle(-50%, 0);
}